{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{request.user.username|title}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <form action="" method="post">
        {% if messages %}
           {% for message in messages  %}
              <p {% if message.tags %} class = " alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
           {% endfor %}
       {% endif %}
               
    {% csrf_token %}
         {% for f in form %}
                   {{f.label_tag}}{{f}}  <small class='text-danger'>{{f.errors|striptags}}</small><br>
                {% endfor %}
                
               <input type="submit" value="login" class='btn mt-2 btn-primary'>
            
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}





